#----------- Hubot Config -----------------

export HUBOT_SLACK_TOKEN={{ slack_token }}

export HUBOT_ADAPTER="slack"
export HUBOT_PATH="{{ bot_root }}"

#----------- End Config -------------------

export PATH="node_modules/.bin:node_modules/hubot/node_modules/.bin:$PATH"
